body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.Header {
  text-align: center;
  border: 10px solid green;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.kanban-board {
  border: 10px solid purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*
.to-do {
  display: block;
}

.in-progress {
  display: block;
}

.done {
  display: block;
}*/

.new-task {
  border: 10px solid blue;

}

.card {
  border: 1px solid purple;
  width: 250px;
}
