@import "newTask.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-family: Questrial;
  line-height: 1.5rem;
}

.Header {
  text-align: center;
  /*border: 10px solid green;*/
  background-color: #4D525B;
  height: 80px;
  padding: 20px;
  color: white;
  font-family: Questrial;
}

h1 {
  font-family: Questrial;
  font-size: 1.5rem;
}

.column-container {
  /*border: 10px solid purple;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 300px;
}

.divider {
  /*border: 10px solid pink;*/
  border-left: 1px solid #4D525B;
  margin: 15px;
}

.In-Progress {
  /*border: 1px solid purple;*/
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid #97292C;
  background-color: #dfbebf;
}

.To-Do {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  border: 2px solid #428F89;
  background-color: #b3d2cf;
}

.Done {
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid #4b4096;
  background-color: #ccbacf;
}

.buttons {
  padding: 15px;
}
