body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-family: Questrial;
  line-height: 1.5rem;
}

.Header {
  text-align: center;
  border: 10px solid green;
  background-color: #4D525B;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: Questrial;
}

h1 {
  font-family: Questrial;
}

.column-container {
  border: 10px solid purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.column {
  border: 10px solid pink;
}

.new-task {
  border: 10px solid blue;
}

.card {
  border: 1px solid purple;
  width: 250px;
  margin-bottom: 10px;
}

.buttons {
  padding: 15px;
}

.left-button {
  float: left;

}
